/*.panel-body {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}*/

/*.container {
  border: solid red;
}

.page-header {
  border: solid orange;
}

.row {
  border: solid blue;
}

.col-sm-4 {
  border: solid green;
}

.col-sm-6 {
  border: dotted green;
}

.panel-body {
  border: dotted;
}*/