* {
  box-sizing: border-box;
}

/* Page */

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
    /*display: flex;*/
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    /* Footer rules */
    min-height: 100vh;
}

.content {
   flex: 1 0 auto;
}

.navbar {
  background-color: #F5F5F5;
}

.social-container {
  text-align: center;
}

.footer {
  background-color: #F5F5F5;
}

/* Images */

.bio-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 150px;
  width: 150px;
}

.social-icon {
  display: inline-block;
  margin: 2px 5px;
  height: 64x;
  width: 64px;

}